<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acktos.bluclient" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.acktos.bluclient.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".android.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCp6BWEMWytgNJxA41VBgRU1k8_DhMjlVc" />

        <activity
            android:name=".presentation.LoginActivity"
            android:label="@string/sign_in"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".presentation.MapPickupActivity"
            android:label="@string/title_activity_map_pickup"
            android:theme="@style/NavigationTheme" >
        </activity>
        <activity
            android:name=".presentation.NewRequestFormActivity"
            android:label="@string/title_activity_new_request_form"
            android:parentActivityName=".presentation.MapPickupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.acktos.bluclient.presentation.MapPickupActivity" />
        </activity>
        <activity
            android:name=".presentation.ReceiptActivity"
            android:label="@string/title_activity_receipt" >
        </activity>
        <activity
            android:name=".presentation.RequestListActivity"
            android:label="@string/title_activity_request_list"
            android:parentActivityName=".presentation.MapPickupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.acktos.bluclient.presentation.MapPickupActivity" />
        </activity>
        <activity
            android:name=".presentation.SingoutActivity"
            android:label="@string/title_activity_singout" >
        </activity>
        <activity
            android:name=".presentation.RequestDetailActivity"
            android:label="@string/title_activity_request_detail"
            android:parentActivityName=".presentation.RequestListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.acktos.bluclient.presentation.RequestListActivity" />
        </activity>
        <activity
            android:name=".presentation.RatesActivity"
            android:label="@string/title_activity_rates"
            android:parentActivityName=".presentation.MapPickupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.acktos.bluclient.presentation.MapPickupActivity" />

        </activity>

        <service android:name=".services.GcmIntentService" />

        <receiver
            android:name=".receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.acktos.bluclient" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
